* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%; /* Adicionando largura 100% ao html e body */
    font-family: Arial, sans-serif;
    background: url('../img/amazonia.jpg') no-repeat center center; /* Adicionando imagem de fundo ao body */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    margin: 0; /* Removendo qualquer margem do body */
    overflow: hidden; /* Oculta qualquer conteúdo extra que possa causar barra de rolagem */
}

.container {
    position: relative;
    min-height: 100vh; /* Garante altura mínima de 100% da tela */
}

.inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o conteúdo */
    background: rgba(34, 139, 34, 0.8); /* Fundo verde escuro com transparência */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 90%; /* Largura responsiva */
    max-width: 350px; /* Largura máxima */
    color: white; /* Texto branco para contraste */
}

.campo-logo {
    text-align: center;
    margin-bottom: 20px;
}

.campo-logo img {
    max-width: 100%;
    height: auto;
}

h2.title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

.gatway {
    text-align: center;
    margin-top: 10px;
}

.gatway a {
    text-decoration: none;
    color: #FFDE00; /* Cor do link */
    font-size: 14px;
}

.gatway a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    .inner-container {
        padding: 15px;
        width: 100%;
        max-width: 90%;
    }

    .btn {
        font-size: 14px;
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    h2.title {
        font-size: 18px;
    }

    .form-control {
        font-size: 12px;
    }

    .btn {
        padding: 8px;
        font-size: 14px;
    }

    .gatway a {
        font-size: 12px;
    }

    .inner-container {
        padding: 10px;
        width: 100%;
        max-width: 90%;
    }
}
